<header class="p-3 bg-dark text-white">
    <div class="row">
        <div class="col">
            <a class="text-decoration-none text-light" href="./index.html">
                <a href="/blog" class="text-light text-decoration-none"><h3>Blog</h3></a>
            </a>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center gap-3">
                <a class="text-light text-decoration-none" href="/">Home</a>
                <a class="text-light text-decoration-none" href={% url 'blog:About Us' %}>About</a>
                <a class="text-light text-decoration-none" href="{% url 'blog:Contact Us' %}">Contact</a>
            </div>
        </div>
    </div>
</header>