body {
    background-color: #cccccc;
}

/* Set a fixed height for all cards */
.fixed-card {
    height: 300px;
    /* Change as needed */
}

/* Ensure card body scrolls if content overflows */
.fixed-card .card-body {
    overflow-y: auto;
}

.contact-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
}